@import "../bootstrap-4.2.1/scss/functions";
@import "./custom/variables";
@import "../bootstrap-4.2.1/scss/bootstrap.scss";

body{
    color: #3F5D45;
}
.main-image-cover{
    height: 496px;
    background:url('../image/main-header.jpeg');
}
.h-100{
    height: 100% !important;
}
.bg-cover{
    background-size: cover;
    background-position: center center;
}
.bg-primary-lighter{
    background-color: #EAF0ED;
}

.rectangle-section{
    margin-top: -90px;
}
.rectangle-image-wrap{
    height: 256px;
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items:center ;
    color: #fff;
    writing-mode: vertical-lr;
    text-decoration: none;
    overflow: hidden;
    
}
.rectangle-image-wrap + .rectangle-image-wrap {
    border-left: 1px solid white;
}
.rectangle-image-wrap.active .rectangle-image{
    filter: blur(0);
}
.rectangle-image-wrap.active .rectangle-over,
.rectangle-image-wrap:hover .rectangle-over,
.rectangle-image-wrap:hover .rectangle-image{
    background-color: rgba(255, 225, 128, 0.8);
    filter: blur(0);
}
a.rectangle-image-wrap:hover{
    text-decoration: none;
}
.rectangle-image-wrap.active,.rectangle-image-wrap:hover,.rectangle-image-wrap:focus {
    color: #3F5D45;
    font-weight: bolder;
}
.rectangle-over {
    background-color: rgba(63, 93, 69, 0.8);
    transition: background-color .5s;
   
}
.four-side {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}
.zindex--1{
    z-index: -1;
}
.rectangle-text {
    font-size: 24px;
    letter-spacing: 10px;
}
.rectangle-image {
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    z-index: -2;
    transition: filter .5s;
    filter: blur(5px);
}

//section

.section-image{
    min-height: 250px;
}
.vertical-content {
    max-height: 420px;
    line-height: 2;
}
.text-primary-light {
    color: #8DA291 !important;
}
@media screen and (min-width: 768px){
    .writing-md-vertical {
        -webkit-writing-mode: vertical-rl;
        -ms-writing-mode: tb-rl;
        writing-mode: vertical-rl;
        }
    .break-vertical-block {
        margin-top: -24px;
        margin-bottom: -24px;
    }
    .vertical-content {
        line-height: 2.5;
    }
}
// item card
.item-card{
    display: flex;
    flex-direction: column;
}
// item-image
.item-card .item-image{
    height: 315px;
    position: relative;
}
.item-card .item-tag{
    position: absolute;
    left: 20px;
    top: 0;
    background-color: #3F5D45;
    -webkit-writing-mode: vertical-lr;
    -ms-writing-mode: tb-lr;
    writing-mode: vertical-lr;
    padding: 15px 10px;
    color: #fff;
    letter-spacing: 5px;
}
// item-icon
.item-card .item-icon{
    position:absolute;
    top: 20px;
    right: 22px;
}
label {
    display: inline-block;
    margin-bottom: 0.5rem;
}
.ui-checked-display{
    cursor: pointer;
}
.ui-checked-display .ui-show,.ui-checked-display .ui-checkbox{
    display: none;
}
.ui-checked-display .ui-checkbox:checked ~ .ui-show {
    display: block;
}
.ui-checked-display .ui-checkbox:checked ~ .ui-hidden {
    display: none;
}
// item-body textContent btn
.item-card .item-name {
    border-right: 1px solid #EAF0ED;
}
.item-card .item-body{
    border:  1px solid #EAF0ED;
}
.item-card .item-name, 
.item-card .item-price {
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 1.25rem; // 20px
}
.btn-primary-lighter {
    color: #3F5D45;
    background-color: #EAF0ED;
    border-color: #EAF0ED;
    font-weight: 900;
}
.btn-primary-lighter:hover {
    color: #3F5D45;
    background-color: #d4e0da;
    border-color: #ccdbd4;
}
.btn-lg, .btn-group-lg > .btn {
    padding: 1rem 1rem;
    font-size: 1.25rem;
    line-height: 1.5;
    border-radius: 0;
}
// 訂閱-郵件
.form-square {
    background-color: #EAF0ED;
}
.form-square.form-square-withicon {
    padding-left: 64px;
    position: relative;
}
.form-square .form-square-icon-left {
    position: absolute;
    top: 20px;
    left: 20px;
}
.form-square .form-input {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: transparent;
    border: none;
    outline: none;
}
// footer
.list-unstyled{
    list-style-type: none;
    padding-left: 0;
}


//產品列表
//header
.header{
    position: relative;
}
.header .header-main-image {
    height: 496px;
}
.header .header-image-context {
    position: absolute;
    right: 40px;
    top: 40px;
}
//list-group-item
.list-group-item:hover{
    background-color: #EAF0ED;
    color: #3F5D45;
}